

nav{
    background-color: #183d5a;
    color: white;
}

li {
    list-style: none;
    padding: 20px;
}

#navigator li a {
    text-decoration: none;
    color: white;
}

.green-container {
    margin-bottom: 50px;
    color: white;
    background-color: #009688;
}

/* .card-container {
    background-color: green;
    height: 200px;

} */

.logo {
    width: 20rem;
}

h1 {
    font-size: 3.8rem;
}

p {
    font-size: 1.5rem;
}

.hr-star {
    width: 20%;
    height: 3px;
    border-radius: 5px;

}

img {
    width: 100%;
    border-radius: 5%;
}

.bg-white {
    background-color: white;

}

.bg-black {
    background-color: black;

}

.star-icon {
    font-size: 2rem;
}

.star {
    width: 10%;
}

h2 {
    font-size: 3rem;
}

.bg-green-btn {
    background-color: #009688;
    color: white;
}

#start-bootstrap {
    text-decoration: none;
    color: #009688;
}

#portfolio {
    margin-bottom: 50px;
}

.white-button {
    width: 100px;
    color: white;
    border: 1px solid white;
}
.row > .white-button {
    justify-content: center;
}

.form-control {
    padding: 0;
    padding-bottom: 10px;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid black;
}

.form-floating>label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 0%;
    pointer-events: none;
    border: 1px solid transparent;
    transform-origin: 0 0;
    transition: opacity .1s ease-in-out,transform .1s ease-in-out;
}

.form-bar {
    padding: 15px 0; 
    border-bottom: 1px solid black;
}

#message-form {
    padding-bottom: 100px;
}

.green-button {
    width: 80px;
    color: white;
    border: 1px solid #009688;
    background-color: #009688;
}

.single-icon {
    border: 1px solid white;
    border-radius: 50%;
    padding: 20px;
}

.icon-font {
    width: 25px;
    font-size: 1.5rem;
}

#form {
    padding-bottom: 20px;
}

#contact-me {
    margin-bottom: 50px;
}

#upper-footer {
    background-color: rgb(58, 84, 109);
}

.navbar {
    background-color: rgb(44, 62, 80);
}

#bottom-footer {
    background-color: rgb(44, 62, 80);
}

