

nav{
    background-color: #183d5a;
    color: white;
}

li {
    list-style: none;
    padding: 20px;
}

#navigator li a {
    text-decoration: none;
    color: white;
}

#jumbo {
    margin-bottom: 50px;
    color: white;
    background-color: #009688;
    height: 500px;
}

.card-container {
    border: 5px solid white;
    background-color: green;
    height: 200px;

}

#portfolio {
    margin-bottom: 50px;
}